# Ignore Everything to start:
#*

# Un-ignore these dirs:
#!api/
#!sketch2pix/
#!sketchme-webapp/

# Ignore these:
#api/node_modules/
#api/uploads/
#api/savedImages/

data*/
checkpoints/
pix2pix/
results/
Sketch/pdata*/
Sketch/sdata*/
Sketch/predictions*/
Sketch/*.ipynb
Sketch/newWeights

*.git
*.gitignore
*.md
*.txt
*.png
*.log
node_modules/

# Don't ignore these:
!dataset/PencilSketch/
!dataset/*.sh
!checkpoints/celebfaces_tr5000_te1500/latest_net_*
!Sketch/newWeights/weights_26
!Sketch/newWeights/weights_77
!requirements.txt




