#Sketch2Pix
SketchToFace/*
hed/*
!dataset/**/face2edge
!dataset/*.sh
dataset/*

#Pix2Pix
*~

**/*.DS_Store
pix2pix/cache/
#pix2pix/results/
#pix2pix/checkpoints/
pix2pix/datasets/*

# luarocks build files
**/*.src.rock
**/*.zip
**/*.tar.gz
**/*.t7

# Object files
**/*.o
**/*.os
**/*.ko
**/*.obj
**/*.elf

# Precompiled Headers
**/*.gch
**/*.pch

# Libraries
**/*.lib
**/*.a
**/*.la
**/*.lo
**/*.def
**/*.exp

# Shared objects (inc. Windows DLLs)
**/*.dll
**/*.so
**/*.so.*
**/*.dylib

# Executables
**/*.exe
**/*.out
**/*.app
**/*.i*86
**/*.x86_64
**/*.hex

#HED


#CAFFE
# Compiled Object files
**/*.slo
**/*.lo
**/*.o
**/*.cuo
#
# # Compiled Dynamic libraries
**/*.so
**/*.dylib
#
# # Compiled Static libraries
**/*.lai
**/*.la
**/*.a
#
# # Compiled protocol buffers
**/*.pb.h
**/*.pb.cc
**/*_pb2.py
#
# # Compiled python
**/*.pyc
#
# # Compiled MATLAB
**/*.mex*
#
# # IPython notebook checkpoints
# .ipynb_checkpoints
#
# # Editor temporaries
# *.swp
# *~
#
# # Sublime Text settings
# *.sublime-workspace
# *.sublime-project
#
# # Eclipse Project settings
# *.*project
# .settings
#
# # QtCreator files
# *.user
#
# # PyCharm files
**/.idea
#
# # Visual Studio Code files
**/.vscode
#
#
# ## Caffe
#
# # User's build configuration
# Makefile.config
#
# # Data and models are either
# # 1. reference, and not casually committed
# # 2. custom, and live on their own unless they're deliberated contributed
caffe/data/*
caffe/models/*
**/*.caffemodel
**/*.caffemodel.h5
**/*.solverstate
**/*.solverstate.h5
**/*.binaryproto
**/*leveldb
**/*lmdb
#
# # build, distribute, and bins (+ python proto bindings)
caffe/build
**/.build_debug/*
**/.build_release/*
cadfe/distribute/*
**/*.testbin
**/*.bin
caffe/python/caffe/proto/
**/cmake_build
**/.cmake_build

# # Generated documentation
caffe/docs/_site
caffe/docs/_includes
caffe/docs/gathered
caffe/_site
caffe/doxygen
caffe/docs/dev

# # LevelDB files
**/*.sst
**/*.ldb
**/LOCK
**/LOG*
**/CURRENT
**/MANIFEST-*
